@model COnt.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Suck in Employee</title>
</head>
<body>
    <div>
        <b>
            EMployee hai bhaiyaa aur suck Action<b>HIHIHi!!</b>
        </b>
        <a href="Hello">click here to go to hello EMployee</a>
        <a href="/Home/Index">click here to go to Index home daa EMployee</a>


    </div>
    <div>
        <table border="1">
            <tbody>
                <tr>
                    <td>ID :</td>
                    <td>@Model.id</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>@Model.Name @DateTime.Now</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>@Model.Address</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        @(5-7)
        <br />
        <p>vikaspandeyxx@gmail.com</p><br />
        <label>@@fuck_yeah</label>
    </div>
</body>
</html>
